
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:black;
  color: white;
}

h1{
  text-align:center;
}

.blue{
  background-color: blue;
}

.dark{
  background-color: darkslategrey;
}

button {
  cursor: pointer;
}

#container{
  display: flex;
  flex-direction:row;
  margin: 20px 10%;
  gap: 5%;
}
#sidebar{
  flex: 1;
}

#gridContainer{
  flex: 3;
  background-color:beige;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row-item {
  flex: 1;
  border: 1px solid rgba(59, 59, 59, 0.5);
  aspect-ratio: 1 /1;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  body {
    background-color:blue;
  }
  #container{
    flex-direction:column;
  }
}